.h5p-info-wall-content {
  .h5p-info-wall-message {
    color: var(--h5p-theme-text-primary);
    font-size: var(--h5p-theme-font-size-m);
    padding: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-m);
    text-align: center;

    &.h5p-info-wall-display-none {
      display: none;
    }

    .h5p-info-wall-query-text {
      font-style: italic;
    }
  }

  .h5p-info-wall-hidden-read {
    width: 1px;
    height: 1px;
    top: -1px;
    position: absolute;
    text-indent: 1px;
    overflow: hidden;
  }
}
