@use "@styles/main";

.h5p-info-wall-panel {
  display: flex;
  flex-direction: row;
  gap: 1em;
  opacity: 1;
  padding: 1em;
  width: calc(100% - 2em);

  &.h5p-info-wall-background {
    background-color: rgba(0, 0, 0, .025);
  }

  .h5p-info-wall-panel-entries-wrapper {
    width: 100%;

    .h5p-info-wall-panel-entries {
      display: grid;
      gap: .5em;
      grid-template-columns: fit-content(15em) minmax(0, 1fr);

      .h5p-info-wall-panel-entry-label {
        vertical-align: top;

        &.bold {
          font-weight: bold;
        }

        &.italic {
          font-style: italic;
        }

        &:not(.h5p-info-wall-panel-entry-label-empty)::after {
          content: ':'
        }
      }

      .h5p-info-wall-panel-entry-text {
        vertical-align: top;
        width: 100%;
        word-wrap: break-word;

        &.bold {
          font-weight: bold;
        }

        &.italic {
          font-style: italic;
        }

        p {
          margin-bottom: 0;
          margin-top: .5em;
        }

        p:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .h5p-info-wall-panel-image-wrapper-outer {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    .h5p-info-wall-panel-image-background {
      filter: blur(5px);
      max-height: 100%;
      max-width: 100%;
      position: absolute;
    }

    .h5p-info-wall-panel-image-wrapper-inner {
      height: 100%;
      width: 100%;
      position: relative;

      .h5p-info-wall-panel-image {
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.h5p-info-wall-display-none {
    display: none;
  }
}

/* TODO: Replace with container query */
@media (max-width: main.$mobile-breakpoint) {
  .h5p-info-wall-panel {
    align-items: center;
    flex-direction: column-reverse;
    font-size: 1.25em;

    .h5p-info-wall-panel-image-wrapper-outer {
      margin-bottom: .5em;
    }
  }
}
