.h5p-info-wall-titlebar {
  align-items: center;
  background-color: var(--h5p-theme-main-cta-light);
  display: flex;
  flex-direction: row;
  padding-block: var(--h5p-theme-spacing-xxs);
  padding-inline: var(--h5p-theme-spacing-s);

  .h5p-info-wall-header {
    color: var(--h5p-theme-contrast-cta);
    flex: 1 1 auto;
    overflow: hidden;

    .h5p-info-wall-header-text {
      margin: 0;
      font-size: var(--h5p-theme-font-size-xl);
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .h5p-info-wall-searchbox-icon {
    &::before {
      color: var(--h5p-theme-text-third);
      content: var(--icon-fontawesome-magnifying-glass);
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: var(--h5p-theme-font-size-m);
      left: 1.5rem;
      position: relative;
      top: 0;
    }
  }

  .h5p-info-wall-searchbox {
    background-color: var(--h5p-theme-background);
    border: 1px solid var(--h5p-theme-contrast-cta);
    border-radius: 1rem;
    box-shadow: inset 0 0 0.25em rgb(0 0 0 / 20%);
    color: var(--h5p-theme-text-primary);
    flex: 0 0 auto;
    font-size: var(--h5p-theme-font-size-m);
    padding: .25em .4em .25em 2em;

    &:focus {
      border-color: var(--h5p-theme-main-cta-dark);
    }

    &:focus-visible {
      outline: 2px ridge var(--h5p-theme-contrast-cta);
      outline-offset: 2px;
    }
  }
}

@container h5p-info-wall (width < 600px) {
  .h5p-info-wall-titlebar {
    .h5p-info-wall-searchbox {
      max-width: 35%;
    }
  }
}
