.h5p-info-wall-panel {
  color: var(--h5p-theme-text-primary);
  display: flex;
  flex-direction: row;
  gap: var(--h5p-theme-spacing-s);
  opacity: 1;
  padding: var(--h5p-theme-spacing-s);

  &.h5p-info-wall-background {
    background: var(--h5p-theme-contrast-cta-light);
  }

  .h5p-info-wall-panel-entries-wrapper {
    width: 100%;

    .h5p-info-wall-panel-entries {
      display: grid;
      gap: var(--h5p-theme-spacing-xxs);
      grid-template-columns: fit-content(calc(15 * var(--h5p-theme-spacing-s))) minmax(0, 1fr);

      .h5p-info-wall-panel-entry-label {
        vertical-align: top;

        &.bold {
          font-weight: bold;
        }

        &.italic {
          font-style: italic;
        }

        &:not(.h5p-info-wall-panel-entry-label-empty)::after {
          content: ':'
        }
      }

      .h5p-info-wall-panel-entry-text {
        vertical-align: top;
        width: 100%;
        overflow-wrap: break-word;

        &.bold {
          font-weight: bold;
        }

        &.italic {
          font-style: italic;
        }

        p {
          margin-bottom: 0;
          margin-top: var(--h5p-theme-spacing-xxs);
        }

        p:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .h5p-info-wall-panel-image-wrapper-outer {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    .h5p-info-wall-panel-image-background {
      filter: blur(5px);
      max-height: 100%;
      max-width: 100%;
      position: absolute;
    }

    .h5p-info-wall-panel-image-wrapper-inner {
      height: 100%;
      width: 100%;
      position: relative;

      .h5p-info-wall-panel-image {
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.h5p-info-wall-display-none {
    display: none;
  }
}

@container h5p-info-wall (width < 600px) {
  .h5p-info-wall-panel {
    align-items: center;
    flex-direction: column-reverse;
    font-size: var(--h5p-theme-font-size-l);

    .h5p-info-wall-panel-image-wrapper-outer {
      margin-bottom: var(--h5p-theme-spacing-xxs);
    }
  }
}
